<template>
	<div id="cesiumContainer"></div>
</template>

<script>
	import { 
		Cartesian3,
		Cartographic,
		Cesium3DTileset, 
		createWorldTerrain, 
		IonResource, 
		Matrix4,
		Viewer,
		Color,
		viewerCesiumNavigationMixin
	} from 'cesium';
	import "cesium/Build/Cesium/Widgets/widgets.css";
// import "./css/main.css";

export default {
	name: 'CesiumViewer',
	props: {
		msg: String
	},
	mounted: () => {
		var viewer = new Viewer('cesiumContainer', {
			homeButton: false,
			timeline: false,
			animation: false,
			fullscreenButton: false,
			sceneModePicker: false,
			selectionIndicator: false,
			infoBox: false,
			navigationHelpButton: false,
			geocoder: false,
			scene3DOnly: true,
			selectionIndicator: false,
			skyBox : false,
			imageryProvider: false,
    		// baseLayerPicker: false,
		});
		
		// Load Tileset for the Free-standing reservoir
		var tileset = new Cesium3DTileset({
			url: 'https://techtest.trendspek.app/datasets/2018-09-21/3d-tiles/FINAL.json',
			dynamicScreenSpaceError : true,
			maximumScreenSpaceError: 1 // Lowering this number increases the detail
		});
		
		tileset.readyPromise.then(function (tileset) {
			// Boilerplate code to move the tileset up so it lines up with the globe
			let tileset_offset = 37.0;
			let cartographic = Cartographic.fromCartesian(tileset.boundingSphere.center);
			let surface = Cartesian3.fromRadians(cartographic.longitude, cartographic.latitude, 0.0);
			let offset = Cartesian3.fromRadians(cartographic.longitude, cartographic.latitude, tileset_offset);
			let translation = Cartesian3.subtract(offset, surface, new Cartesian3());
			tileset.modelMatrix = Matrix4.fromTranslation(translation);
			
			viewer.scene.primitives.add(tileset);
			let offset2 = new Cartesian3(-50, -140, 25);
			viewer.zoomTo(tileset, offset2);
		});

		//Adding Red line along the short road.
		var redLine = viewer.entities.add({
				name : 'Red line on terrain',
				polyline : {
						positions : Cartesian3.fromDegreesArray([ 
							150.789040, -33.737350,
							150.788700, -33.737565,
							150.788670, -33.737575,
							150.788630, -33.737585,
							150.788580, -33.737585,
						]),
						width : 20,
						material : Color.RED.withAlpha(0.5),
						clampToGround : true
				}
		});
	}
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

div#cesiumContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

</style>
